
<style>
  p {
    font-size: 17px;
  }
</style>

<ion-view view-title="{{user.id}}">

  <ion-content class="padding">
  <center>
    <p>
      {{user.firstname}} {{user.name}}
    </p>
    <p>
      {{user.promo}}
    </p>
    <p>
      {{user.email}}
    </p>
    <ion-item ng-repeat="veille in veilles" href="#/tab/veilles/{{veille.id}}">
      <h2>{{veille.title}}</h2>
      <p>{{veille.description}}</p>
      <p>{{veille.type}}</p>
      <p>{{veille.date}}</p>
      <button class="button button-small button-calm">
        Modifier
      </button>
      <button class="button button-small button-assertive">
        Supprimer
      </button>
    </ion-item>
    </center>
  </ion-content>
</ion-view>