<style>
  p {
    font-size: 17px;
  }
</style>

<ion-view view-title="Détails de la veille">
  <ion-content class="padding">
  <div>
  <center>
    <h2>
      {{veille.title}}
    </h2>
    <p>
      {{veille.type}}
    </p>
    <p>
      {{veille.description}}
    </p>
    <p>
    <a href="#/tab/users/{{veille.user[0].id}}">
      {{veille.user[0].firstname}} {{veille.user[0].name}}
    </a>
    </p>
    <p>
      {{veille.date}}
    </p>
    </center>
    </div>
  </ion-content>
</ion-view>